@import '../scss/variables/colors.scss';
@import '../scss/variables/fonts.scss';

.from-container{
  background-color: $Wild-Sand;
  border-top: 8px solid $Cerulean;
  height: 634px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.logo-wolox{
  display: flex;
  margin: auto;
  padding: 10px;
}

.section-input{
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 5px 25px;

  label{
    display: flex;
    font-family: 'Roboto', sans-serif;
    size: $ContentText;
    padding-bottom: 5px;
    padding-top: 5px;
    color: $Black;
  }

  input{
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 252px;
  }
}

.message-alert{
  color: $Red;
  font-size: $TextAlert;
}

.button{
  border-radius: 5px;
  font-size: $ContentText;
  height: 32px;
  width: 252px;
}

.section-buttons{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
  position: relative;

  &:before{
    background-color: $Silver-Chalice;
    content: '';
    height: 2px;
    position: absolute;
    width: 80%;
  }
}

.button-singUp{
  background-color: $Earls-Green;
  color: $white;
}

.button-login{
  border: solid 2px $Earls-Green;
  color: $Earls-Green;
}
