<div class="from-container" *ngIf="!name; else forminfo">
    <img class="logo-wolox" alt="logo-wolox" src="assets/LogoWolox-Original.png">
    <form [formGroup]='registerForm' (ngSubmit)='addPost()'>
      <div class="section-input">
        <label class="text-label">Nombre</label>
        <input class="decoration-input" type="text" formControlName="first_name" />
        <span class="message-alert" *ngIf="!registerForm.controls.first_name.valid && registerForm.controls.first_name.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-input">
        <label class="text-label">Apellido</label>
        <input class="decoration-input" type="text" formControlName="last_name" />
        <span class="message-alert" *ngIf="!registerForm.controls.last_name.valid && registerForm.controls.last_name.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-input">
        <label v>Correo</label>
        <input class="decoration-input" type="text" formControlName="email" />
        <span class="message-alert"s *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">{{ messageAlert }}</span>      
      </div>
      <div class="section-input">
          <label class="text-label">Contraseña</label>
          <input class="decoration-input" type="password" formControlName="password" />
          <span class="message-alert" *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">{{ messageAlert }}</span>
        </div>
      <div class="section-input">
        <label class="text-label">confirmar Contraseña</label>
        <input class="decoration-input" type="password" formControlName="password_confirmation" />
        <span class="message-alert" *ngIf="!registerForm.controls.password_confirmation.valid && registerForm.controls.password_confirmation.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-input">
          <label class="text-label">locale</label>
          <input class="decoration-input" type="password" formControlName="locale" />
          <span class="message-alert" *ngIf="!registerForm.controls.locale.valid && registerForm.controls.locale.touched">{{ messageAlert }}</span>
        </div>
      <div class="section-buttons">
        <input class="button button-singUp" type="submit" value="Sing up"/>
        <input class="button button-login" type="submit" [disabled]="!registerForm.valid" value="Login"/>
      </div>
    </form>
    <button (click)="getData()">click</button>
    <div ng-repeat="post in posts ">
      {{ post | json }}
    </div>
  </div>
