<div class="from-container" *ngIf="!name; else forminfo">
    <img class="logo-wolox" alt="logo-wolox" src="assets/LogoWolox-Original.png">
    <form [formGroup]='registerForm' (ngSubmit)='addPost(registerForm.value)'>
      <div class="section-input">
        <label class="text-label">Nombre</label>
        <input class="decoration-input" type="text" formControlName="firstName" />
        <span class="message-alert" *ngIf="!registerForm.controls.firstName.valid && registerForm.controls.firstName.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-input">
        <label class="text-label">Apellido</label>
        <input class="decoration-input" type="text" formControlName="lastName" />
        <span class="message-alert" *ngIf="!registerForm.controls.lastName.valid && registerForm.controls.lastName.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-input">
        <label v>Correo</label>
        <input class="decoration-input" type="text" formControlName="email" />
        <span class="message-alert"s *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">{{ messageAlert }}</span>      
      </div>
      <div class="section-input">
        <label class="text-label">Contraseña</label>
        <input class="decoration-input" type="password" formControlName="passwordConfirmation" />
        <span class="message-alert" *ngIf="!registerForm.controls.passwordConfirmation.valid && registerForm.controls.passwordConfirmation.touched">{{ messageAlert }}</span>
      </div>
      <div class="section-buttons">
        <input class="button button-singUp" type="submit" value="Sing up"/>
        <input class="button button-login" type="submit" [disabled]="!registerForm.valid" value="Login"/>
      </div>
    </form>
  </div>
